body{
    margin: 0;
    padding: 0;
    background: rgba(75, 28, 161, 0.067);
}
.signup-form {
    width: 300px;
    padding: 200px;
    text-align: center;
    background: url(star.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.signup-form h1{
    margin-top: 100px;
    color: rgb(235, 219, 200);
    font-size: 60px;
}
.signup-form input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    
}
.txt{
    margin: 14px 0;
    border-radius: 20px;
}
.signup-btn{
    margin-top: 60px;
    margin-bottom: 15px;
    border-radius: 30px;
    background: rgb(52, 52, 129);
    font-size: 30px;
    color: rgb(164, 179, 179);
    cursor: pointer;
    transition: 0.8s;
    display: block;
}
.signup-btn:hover{
    transform: scale(0.8);
    background: #fff;
}

.signup-form a{
    
    text-decoration: none; /* çizgi kaldırmaya yarıyor */
    color: beige;
    font-size: 18px;
    padding: 10px;
    transition: 0.8s;
    display: block;
    
}
.signup-form a:hover{
    transform: rgb(78, 78, 80);
}